.text-caption {
    text-shadow: 2px 2px 5px black;
}

.title-carousel {
    color: white;
}

@media only screen and (max-width: 600px) {
    .title-carousel {
        font-size: large;
    }

    .sub-title-carousel {
        font-size: medium;
    }

}
    
    /* .carousel-container {
        position: relative;
        max-width: 432px;
        max-height: 289px;
    } */
    /* .carousel.slide.img {
        height: 100%;
                width: auto;
            } */
        