.hide {
  display: none;
}

.container-margin {
    margin: 5rem 5rem;
    width: 700rem;
 }
  
p .text-center {
  padding: 5%;
}

.booklist {
  background-color: grey;
  padding: 1rem;
}

.left {
  float: left;
  text-align: left;
  margin: auto;
}

.right {
  float: right;
}

.space {
  margin-bottom: 1rem;
}
  