p .text-center {
  padding: 5%;
}

.booklist {
  background-color: rgb(202, 202, 202);
  padding: 1rem;
  margin-bottom: 1rem;
}

.left {
  float: left;
  text-align: left;
  margin: auto;
}

.right {
  float: right;
}

.space_title {
  margin: 2rem;
}

.space_title2 {
  margin-bottom: 1rem;
}

  
