p .text-center {
  padding: 5%;
}

.booklist {
  background-color: grey;
  padding: 1rem;
}

.left {
  float: left;
  text-align: left;
  margin: auto;
}

.right {
  float: right;
}

.space_title {
  margin-bottom: 1rem;
}
  
