.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.login-card {
    min-height: 50vh;
    
}

.registerMessage {
    margin-top: 20vh;
}

.hv-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}