/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
* {
  margin: 0px;
}

img {
  width: 50%;
}

/**
 * Content CSS
 */
.container-margin {
  margin-top: 5rem;
}

p .text-center {
  padding: 5%;
}

.booklist {
  background-color: grey;
  padding: 1%;
}

.book {
  background-color: rgb(202, 202, 202);
  padding: 5%;
}

footer {
  display: block;
}

img.img-thumbnail {
  float: left;
  margin-right: 2%;
}

p.book-description {
  margin-bottom: 0px;
  padding-left: 2%;
}

button.request {
  margin-top: 2%;
}

.App {
  text-align: center;
}