img.img-thumbnail {
  float: left;
  margin-right: 2%;
}

p.book-title {
  text-align: center;
}

p.book-description {
  margin-bottom: 0px;
  padding-left: 2%;
  text-align: left;
}

.button-action {
  position: absolute;
  bottom: 0rem;
}
  
.book {
  background-color: rgb(202, 202, 202);
  padding: 2rem; 
  text-align: left;
}

.checkout-book {
  background-color: white;
}